<div class="navbar">
    <div class="top">
        <mat-icon>notifications_none</mat-icon>
    </div>
    <div class="user">
        <img src="https://cdn2.vectorstock.com/i/thumb-large/51/51/passport-photo-of-young-handsome-man-closeup-vector-20715151.jpg" alt="">
        <h4 class="name">Admin</h4>
        <p class="mail">admin@gmail.com</p>
        
    </div>
    <div class="menu">
        <div class="menu-head">
            <span>DashBoard</span>
        </div>
        <div class="menu-item">
            <button [routerLink]="['/dashboard']"  mat-button class="menu-button" >
              
                <mat-icon>dashboard</mat-icon>
                <span>Home</span>
        
            </button>
            <button [routerLink]="['dashboard/posts']" mat-button class="menu-button">
           
                <mat-icon>message</mat-icon>
                <span>Post</span>
                
            </button>
            <button [routerLink]="['dashboard/comments']" mat-button class="menu-button" >
                <mat-icon>comments</mat-icon>
                <span>Comments</span>
            </button>
            <button [routerLink]="['dashboard/pages']" mat-button class="menu-button">
                <mat-icon >pages</mat-icon>
                <span>Pages</span>
                
            </button>
            <button [routerLink]="['dashboard/settings']" mat-button class="menu-button">
                <mat-icon>settings</mat-icon>
                <span>Setting</span>
                
            </button>
            
        </div>
    </div>
</div>


